body {
  margin: 0;
  background-color: #9ef5cf;
  font-family: 'Montserrat', sans-serif; }

/* ---------NAVIGATION------------*/
header .movil, nav .movil, ul .movil, li .movil, div .menu-toggle {
  display: none; }

nav {
  background-color: rgba(255, 255, 255, 0.9);
  background-color: #0278ae; }

.menu-toggle i {
  display: none; }

header .movil i .fas {
  display: none; }

nav:after {
  content: '';
  display: block;
  clear: both; }

.logo {
  margin: 20px;
  color: whitesmoke; }

.menu {
  float: right;
  margin: 20px; }

.logo, .menu {
  display: inline-block; }

.menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

.menu ul li {
  display: inline-block;
  margin-right: 20px; }

.menu ul li a {
  text-decoration: none;
  padding: 21px 15px 21px 15px;
  color: white; }

.menu ul li a:hover {
  background-color: rgba(74, 74, 72, 0.5);
  color: black;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/* ---------HEADER------------*/
header {
  background-image: url("images/nike2.jpeg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -200px; }

header p {
  margin: 0; }

header p, h2 {
  color: #0278ae; }

.hero-container {
  text-align: center;
  padding-top: 100px; }

/* ---------ABOUT ME------------*/
.about-me {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  background-color: 393e46; }

.about-me::after {
  content: '';
  display: block;
  clear: both; }

.about-me h2, h4 {
  color: #0278ae;
  text-align: center; }

.about-me .col-left, .about-me .col-right {
  width: 50%;
  float: left; }

.about-me .col-right p {
  color: black; }

.about-me .col-left img {
  max-width: 70%; }

.about-me a {
  background-color: aqua;
  padding: 10px 25px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  font-size: 16px;
  display: inline-block; }

/*---------MY SKILLS -------*/
.my-skills {
  background-color: #393e46;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center; }

.my-skills h2 {
  text-transform: uppercase;
  color: #e8ffc1; }

.my-skills h4, p {
  color: #e8ffc1; }

.my-skills::after {
  content: '';
  display: block;
  clear: both; }

.my-skills .skills-left, .my-skills .skills-center, .my-skills .skills-right {
  max-width: 33.333333%;
  display: inline-block;
  float: left; }

.my-skills i {
  color: #e8ffc1;
  font-size: 56px; }

/*---------MY PROYECTS -------*/
.my-proyects {
  background-color: 393e46;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center; }

.my-proyects::after {
  content: '';
  display: block;
  clear: both; }

.my-proyects h2 {
  text-transform: uppercase;
  margin-top: 0;
  position: relative;
  color: #e8ffc1; }

.my-proyects .project1, .my-proyects .project2, .my-proyects .project3 {
  height: 300px;
  width: 30%;
  float: left;
  position: relative;
  overflow: hidden; }

.my-proyects .project1 {
  margin-left: 2%;
  margin-right: 1.5%;
  background-image: url(images/food.jpeg);
  background-size: cover; }

.my-proyects .project2 {
  margin-left: 1%;
  margin-right: 1%;
  background-image: url(images/html.jpeg);
  background-size: cover; }

.my-proyects .project3 {
  margin-left: 1.5%;
  margin-right: 2%;
  background-image: url(images/seoS.jpeg);
  background-size: cover; }

.my-proyects .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 310px; }

.my-proyects .overlay:hover {
  padding-top: 130px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.6); }

.overlay a {
  display: inline-block;
  font-size: 10px;
  padding: 10 px 20px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  font-weight: bold; }

/* ---- CONTACT -----*/
.contact {
  background-color: #393e46;
  width: 100%; }

form input[type="text"],
select,
textarea {
  width: 90%;
  padding: 12px;
  border: none;
  border: 1px solid #0278ae;
  background: transparent;
  margin-top: 6x;
  margin-bottom: 16px;
  resize: vertical;
  color: #b2b2b2;
  position: relative; }

form input[type="text"]:focus,
textarea:focus {
  outline: none;
  border: 1px solid #cde3eb; }

input[type="submit"] {
  background-color: transparent;
  color: #b2b2b2;
  text-transform: uppercase;
  padding: 12px 20px;
  border: 1px solid #cde3eb;
  cursor: pointer;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s; }

input[type="submit"] {
  background-color: transparent;
  color: #b2b2b2;
  text-transform: uppercase;
  padding: 12px 20px;
  border: pointer;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s; }

input[type="submit"]:hover {
  background-color: #b2b2b2;
  color: #222; }

.contact .container {
  margin-top: 20px;
  margin-bottom: 100px;
  background: transparent;
  padding-right: 10px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }

label {
  display: block; }

form {
  margin-left: 40px; }

/*------FOOTER--------*/
.footer {
  border-top: 1px solid #222; }

.top-bar {
  padding: 20px 0;
  text-align: center; }

.top-bar a {
  margin: 10px;
  font-size: 2em;
  color: #393e46;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  display: inline-block; }

.top-bar a:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color: #0278ae; }

.bottom-bar {
  background: #393e46;
  font-size: 0.75em;
  text-align: center; }

/*--------- MOBILE -------*/
@media (max-width: 991px) {
  nav .active {
    top: 0; }
  .menu-toggle i {
    display: block;
    float: center;
    color: white;
    padding-top: 10px;
    padding-left: 10px; }
  .menu {
    float: right;
    margin: 0;
    background-color: #393e46;
    opacity: 0.3;
    width: 100%; }
  a {
    color: white; }
  .menu:hover {
    color: #fff; }
  ul li a {
    color: white; }
  .logo {
    display: none; }
  div .menu-toggle {
    position: absolute; }
  nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: transparent;
    top: 50px;
    left: -100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  nav.active {
    left: 0; }
  i .fas .fa-bars {
    -ms-flex-line-pack: center;
    align-content: center; }
  .menu ul li {
    display: block;
    text-align: center;
    padding: 2px; }
  nav ul {
    display: block;
    text-align: center; }
  nav ul li a {
    font-size: 12px; }
  .menu ul li a {
    padding: 8px 4px 8px 4px;
    color: white; }
  nav ul li a:hover {
    background-color: white;
    color: white;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 4px; }
  .my-proyects .project1, .my-proyects .project2, .my-proyects .project3 {
    background-size: cover; }
  .my-proyects .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 310px; }
  .my-proyects .overlay:hover {
    padding-top: 130px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.6); }
  .overlay a {
    display: inline-block;
    font-size: 10px;
    padding: 10 px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    font-weight: bold; }
  form {
    margin-left: 40px; } }
